/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/stamp-*
/src/bloxbot
/src/.deps/
/src/*.o
/src/config.h
/src/config.h.in
/src/Makefile
/src/Makefile.in
/src/stamp-*
