/aclocal.m4
/autom4te.cache/
/bot.cer
/bot.key
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-*
/src/bloxbot
/src/.deps/
/src/*.o
/src/config.h
/src/config.h.in
/src/Makefile
/src/Makefile.in
/src/stamp-*
/plugins/*/.libs/
/plugins/*/.deps/
/plugins/Makefile
/plugins/Makefile.in
/plugins/*/Makefile
/plugins/*/Makefile.in
/plugins/*/*.o
/plugins/*/*.la
/plugins/*/*_la-*
/bb-in
/test/node_modules